#cnt-main {
    width: 100%;
    background-image: url(./contact-about-bg.png);
    background-position: center;
    background-size: cover;
}

#cnt-main > * {
    color: white;
}

#cnt-main h1 {
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

#cnt-main section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#cnt-main section > * {
    text-align: center;
    margin: 30px;
}

#cnt-main section p {
    max-width: min(50%, 370px);
}

#cnt-main section img {
    height: min(45vh, 40vw);
    border-radius: 15px;
}

#cnt-main > p {
    text-align: center;
    margin: 20px auto;
    max-width: min(50%, 500px);
}

#cnt-main form {
    align-items: center;
    margin: 50px auto;
    min-width: 270px;
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#cnt-main form input {
    width: 100%;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    padding-inline-start: 10px;
}

#cnt-main form input[type="submit"] {
    padding-inline: 15px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #a32d01;
    width: fit-content;
}
